@model CartItem
@{
    ViewData["Title"] = "GetUserCart";

    Dictionary<Product, int> cartItem = ViewBag.cartItem;

    double? total = 0;
}

@section Scripts
    {
    <script src="/js/Cart.js"></script>
    }

<div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-md">
    <ul class="nav">

        <li class="nav-item">
            <p style="font-size:18px;font-weight:600"><a class="nav-link disabled bold">View Cart</a></p>
        </li>

        <li class="nav-item">
            <p><a class="nav-link" href="#">Home</a><p>

        </li>
		
		 <li class="nav-item">
            <p><a class="nav-link" href="/Gallery/Index">Continue Shopping</a><p>

        <li class="nav-item">
            <a class="nav-link" href="#">Checkout</a>
        </li>
        @foreach (KeyValuePair<Product, int> i in cartItem)
        {

            var totalPrice = i.Key.Price * i.Value;
            total += totalPrice;
        }

            <li class="nav-item"style="right:6rem; position: absolute;">
                <p><a class="nav-link disabled">Total:$ @total</a></p> @* calculate total*@
            </li>

        
    </ul>
    </div>
</nav>
</div>


<div class="container text-center">
        @if (cartItem != null && cartItem.Count > 0)
        {
             <div>
                @foreach (KeyValuePair<Product, int> kvp in cartItem)
                {
                    <div class="row">
                        <div class="col card rounded" style="width: 22rem;margin-bottom:1rem;margin-top:1rem;">
                            <img src="../assets/image/@kvp.Key.Img" class="img-fluid mx-auto d-block img-thumbnail" alt="..." width="100" style="margin:0.3rem;">
                            <div class="card-body">
                                <h5 class="card-title">@kvp.Key.Name</h5>
                                <p class="card-text">@kvp.Key.Description</p>
                            </div>

                        </div>

                        <div class="col">
                            <div class="card-body d-flex align-items-start flex-column">
                            
                                <h5 class="card-title">Price : @kvp.Key.Price</h5>
                                <div class="d-flex flex-wrap justify-conten-start">
                                    <h5>Quantity :</h5>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                                            <i class="fa fa-minus" aria-hidden="true"></i>              
                                        </button>
                                    </span>

                                    <input type="text" style="width:15%" name=" quant[2]" class="form-control input-number" value="10" min="1" max="100">

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>                           
                            </div>
                       </div>

                    </div>
                }
                </div>

           @foreach (KeyValuePair<Product, int> kvp in cartItem)
               {
                <div class="row">
                    <div class="card rounded">
                        <div class="card-body">

                            <div class="row row-cols-2" style="margin-left:12rem">

                                <div class="col">
                                    <div class="card rounded">
                                        <div class="card-body">
                                            <img src="../assets/image/@kvp.Key.Img" class="img-fluid mx-auto d-block img-thumbnail" alt="..." width="100" style="margin:0.3rem;">
                                            <div class="card-body">
                                                <h5 class="card-title">@kvp.Key.Name</h5>
                                                <p class="card-text">@kvp.Key.Description</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col text-left"style="width:12rem;margin-top:5rem;">
                                <div>
                                    @{var price = kvp.Key.Price * kvp.Value;}
                                    <p>Price: $@price</p>
                                </div>
             
                                 <div class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-danger btn-number" data-type="minus" data-field="quant[2]">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                        <input type="text" name="quant[2]" class="form-control input-number" value=@kvp.Value>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                 
                                </div>
                            </div>

                        </div>
                    </div>
     

                </div>


            }

        }
        else
        {
            <h3>Cart is empty.</h3>
        }

   
</div>