@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    var products = (List<Product>)ViewBag.products;
    var user = (User)ViewBag.users;

}
<div>
    <ul class="nav">
        @if (user != null)
        {
            <li class="nav-item">
                <a class="nav-link disabled">Hello, @user.Name</a>
            </li>

            <li class="nav-item">
                <p><a class="nav-link" href="#">My Purchases</a><p>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link disabled">Hello, guest</a>
            </li>


            <li class="nav-item">
               <a class="nav-link" href="/login">Login</a>
            </li>


        }

    </ul>
</div>
<div style="margin:1rem;">
    <form class="d-flex" role="search">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">
                    <img src="/assets/icons/search.svg" alt="Bootstrap" width="32" height="32">
                </span>
            </div>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
    </form>
</div>

<div class="container text-center">
    <div class="row row-cols-3">
        @foreach (Product product in products) {
            <div class="col">
                <div class="card" style="width: 22rem;margin-bottom:1rem;margin-top:1rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <button>@product.Price @Html.Raw("-Add to Cart")</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


